textarea {
	width: 100%;
}

input[type=submit] {
	margin-top: 10px;
}

b {
	color: #444444;
	text-decoration: none;
	cursor: pointer;
}
b:hover {
	text-decoration: underline;
}

.TITLE {
	font-weight: bold;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	text-decoration: none;
	color: #444444;
	font-style: italic;
	font-size: larger;
}